.container1 {
    display: flex;
    height: 100%;
    width: 100%;
    margin: 0;
}

.container2 {
    display: grid;
    place-items: center;
    text-align: center;
  }

.left {
  flex: 1;
  justify-content: center;
  align-items: center;
  display: flex;
}

.right {
  flex: 1;
  justify-content: center;
  align-items: center;
  display: flex;
  background-color: #41444B;
}

.input {
    font-size: 30px;
}

@media (max-width: 768px) {
    .container1 {
      flex-direction: column;
    }

    .left, .right {
      flex: 1;
      width: 100%;
    }
    .input {
        font-size: 20px;
    }
}

.h1 {
    font-size: 3.5em;
    color: #41444B;
}

.label1 {
    color: white;
    margin-right: 10px;
}

.button10 {
    padding: 10px 20px;
    background-color: white;
    color: black;
    border: none;
    border-radius: 4px;
    font-size: 20px;
    cursor: pointer;
}
.button10:hover {
  background-color: #41444B;
  color:white
}

.square-paragraph {
    width: 400px;
    height: 400px;
    text-align: center;
    padding: 10px;
}

.side-container{
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.centered-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.centered-content {
  padding: 20px;
  /* background-color: lightblue; */
  border-radius: 8px;
}